:root {
    --color-1: #06113C;
    --color-2: #FE8101;
    --color-3: #DDDDDD;
    --color-4: #EEEEEE;
}

@font-face {
    font-family: Garfield;
    src: url("assets/font.ttf");
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: var(--color-0);
    font-family: Garfield;
}

body {
    padding: 0;
    margin: auto;
    width: 80vw;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    background-image: url("imgs/bg.png");
    background-size: auto 15vw;
    background-repeat: repeat no-repeat;
    background-position: left top;
    background-color: var(--color-2);
}

header {
    background-color: var(--color-2);
    padding: 20px;
    height: 300px;
    background-image: url("imgs/head.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 20vh;
}

nav {
    background-color: var(--color-2);
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

article {
    background-color: var(--color-2);
    flex: 3;
    padding: 10px;
    text-align: justify;

}

main img{
    width: 100%;
    max-width: 200px;
}

#keret{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.felsoalso{
    padding: 5px;
    display: flex;  
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 2px var(--color-1);
}

.felsoalso img{
    width: 33%;
}

#sor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sor2-child{
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: solid 2px var(--color-1);
}

.hatso{
    align-items: flex-end;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#esatobbi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3px;
    column-gap: 3px;
}

#esatobbi :nth-child(){
    flex: 1 1 auto;
}

#utolsokulon{
    flex-grow: 2;
}


footer {
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 5px;
}
nav a, nav a:visited, footer a, footer a:visited{
    all: unset;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

footer a, footer a:visited, nav a, nav a:visited {
    color: var(--color-1);
    /*-------------*/
    background-image: linear-gradient(90deg, var(--color-1), var(--color-2));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
footer a:hover, footer a:active, nav a:hover, nav a:active{
    background-size: 100% 3px;
}

.aktiv {
    background-image: linear-gradient(90deg, var(--color-2), var(--color-1));
    background-size: 100% 3px;
}


@media only screen and (max-width: 1200px){
    body {
        width: 100vw;
        margin: 0;
    }
    /* nav {
        
    } */
    #nav-right {
        display: none;
    }

    article {
        flex: 4;
    }

}

@media only screen and (max-width: 600px){
    header {
        height: 150px;
    }
    nav {
        align-items: center;
        padding-left: 20px;
    }
    nav a {
        padding-left: 0;
    }

    main {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

}